apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: kafka-headless
  labels:
    app: kafka
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 9092
    name: plaintext
    targetPort: 9092
  - port: 9093
    name: controller
    targetPort: 9093
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: kafka
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    name: plaintext
    targetPort: 9092
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: kafka-external
  labels:
    app: kafka
spec:
  type: NodePort
  ports:
  - port: 9094
    name: external
    targetPort: 9094
    nodePort: 30094
  selector:
    app: kafka
