apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - configmap-static.yaml
  - configmap-dynamic.yaml
  - deployment.yaml
  - service.yaml
