apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: mongodb-trip
  labels:
    app: mongodb-trip
spec:
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb
  selector:
    app: mongodb-trip
  clusterIP: None 
